/* CSS Resets */
* {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
}

section {
    margin-bottom: 5rem;
}

/* Banner */
header {
    width: 100%;
    height: 4.625rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: .0625rem solid #005FFF;
    position: fixed;
    z-index: 1;
    background-color: #fff;
    padding: 0 3rem;
}

h1 {
    font-family: Rubik;
    font-weight: 700;
    font-size: 1.75rem;
    color: #280BDC;
}

nav {
    display: flex;
    width: 22.5rem;
    align-items: center;
    justify-content: space-between;
}

a {
    font-family: rubik;
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
}

/* About Me Section */
.about-me {
    position: relative;
    height: 12rem;
    top: 4.625rem;
    background-color: rgba(40, 11, 220, 0.9);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.875rem 7rem;
}

.about-me-text {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.am-container {
    display: flex;
    height: 100%;
    width: 20%;
    border-right: 2px solid #fff;
    align-items: center;
}

.am-container h2 {
    font-family: Rubik;
    font-weight: 600;
    font-size: 1.75rem;

}

.description {
    width: 75%;
    font-family: Rubik;
    font-weight: 500;
}

.description p {
    font-size: 1.5rem;
}

/* Projects Section */
.projects {
    margin-top: 9.625rem;
    width: 100%;
    height: 30rem;
    display: flex;
    align-items: top;
    justify-content: center;
    padding: 0rem 5.25rem;
}

.bg-proj {
    height: 100%;
    width: 100%;
    background-color: rgba(175, 168, 186, 0.6);
    display: flex;
    padding: 3rem 3rem;
    flex-wrap: wrap;
}

.title-proj {
    width: 100%;
    height: 1.75rem;
}

.title-proj h2 {
    font-family: Karla;
    font-size: 2.25rem;
    font-weight: 600;
}

.proj-list {
    width: 60%;
}

.proj-list li {
    font-family: Karla;
    font-weight: 500;
    font-size: 1.875rem;
    margin-bottom: .875rem;
}

.proj-list p {
    font-family: Karla;
    font-weight: 500;
    font-size: 1.375rem;
    margin-bottom: 1.25rem;
}

.img-container {
    width: 40%;
}

.img-container img {
    width: 100%;
    padding-bottom: 1rem;
}